<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Flexibeast</title>

	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="headerbox">
        <div class="headerbox-inner">
        <div class="top-bar">
                <div class="row">
                    <div class="col-xs-12">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/alicia.knight.7311?fref=ts"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/FlexiBeast247"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/flexibeast/"><i class="fa fa-instagram"></i></a></li>
                                <!--{% if not request.user.is_authenticated %}-->
                                <!--<li>Sign in</li>-->
                                <!--{% endif %}-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li class="pull-left"><a href="#">Profile</a></li>
                                        <li class="pull-left"><a href="#">Change email</a></li>
                                        <li class="pull-left"><a href="#">Change password</a></li>
                                        <!--{% if request.user.is_staff %}-->
                                        <!--<li class="pull-left"><a href="#">Admin</a></li>-->
                                        <!--{% endif %}-->
                                        <li class="pull-left"><a href="#">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                       </div>
                    </div>
            </div>
        </div><!--/.top-bar-->

        <nav class="navbar navbar-default" role="banner">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-left" href="index.html"><img src="images/logo1.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About</a></li>
                        <li><a href="#classes">Classes and Workshops</a></li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Timetable</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                            </ul>
                        </li>
                        <li><a class='contact' href="#contact-info">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </div>
    </div>
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="box">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/slider/1a.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/2a.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/3a.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
               </div><!--/.carousel-inner-->
            </div><!--/.box-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="classes" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Welcome</h2>
                <p class="lead">Congratulations on taking the first step towards being a FlexiBeast! Here on the website,
                    you'll find information about me and what I can offer. If there's anything that's not covered, pop to the
                    contact section and I'll get back to you. My practice is holistic linking mind and body to keep you
                    healthy and happy. I believe that flexibility training should be safe and open to everyone.
                    You do not need to be strong or bendy to join our happy group, we'll get there together.</p>

                <p class="pull-right">Namaste, Alicia</p>
            </div>

            <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="classes.html#flexibeast"><i class="fa fa-comments"></i></a>
                            <h2>Flexibeast</h2>
                            <h3>Particularly aimed at aerial and pole dance</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="classes.html#yoga"><i class="fa fa-leaf"></i></a>
                            <h2>Yoga</h2>
                            <h3>Vinyassa Flow and Restorative Yoga classes</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <h2>One-to-One</h2>
                            <h3>Centred around your individual needs</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.features-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->


    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Classes and Workshops</h2>
                <p class="lead">At locations in Edinburgh and the borders.</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <a href="classes.html"><div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Classes</h3>
                            <p>Group instruction: various forms of yoga and Flexibeast classes.</p>
                        </div>

                    </div></a>
                </div>

                <div class="col-sm-6 col-md-4">
                    <a href="#"><div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Workshops</h3>
                            <p>One-off in depth workshops focusing on a particular area or goal.</p>
                        </div>
                    </div></a>
                </div>

                <div class="col-sm-6 col-md-4">
                    <a href="#"><div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Private Instruction</h3>
                            <p>
                                Sessions can cover yoga,
                                flexibility, fitness, diet, stress management and more.
                            </p>
                        </div>
                    </div></a>
                </div>  

                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

<section id="flexibeast-gallery">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Gallery</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="flexibeast-gallery-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item1.jpg" alt="">
                        <div class="overlay">
                            <div class="flexibeast-gallery-inner">
                                <h3><a href="gallery.html">Click for full gallery</a> </h3>
                                <p>We can put a description here</p>
                                <a class="preview" href="images/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="flexibeast-gallery-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item2.jpg" alt="">
                        <div class="overlay">
                            <div class="flexibeast-gallery-inner">
                                <h3><a href="gallery.html">Click for full gallery</a> </h3>
                                <p>We can put a description here</p>
                                <a class="preview" href="images/portfolio/full/item2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="flexibeast-gallery-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item3.jpg" alt="">
                        <div class="overlay">
                            <div class="flexibeast-gallery-inner">
                                <h3><a href="gallery.html">Click for full gallery</a> </h3>
                                <p>We can put a description here</p>
                                <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="flexibeast-gallery-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item4.jpg" alt="">
                        <div class="overlay">
                            <div class="flexibeast-gallery-inner">
                                <h3><a href="gallery.html">Click for full gallery</a> </h3>
                                <p>We can put a description here</p>
                                <a class="preview" href="images/portfolio/full/item4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#flexibeast-gallery-->


    <section id="testimonials">
        <div class="container">
            <div class="center testimonials wow fadeInDown">
                <h2>Testimonials</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="col-xs-12 wow fadeInDown">
                    <div class="testimonials-container">
                         <div class="marquee media testimonial-inner">

                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt sed do eiusmod tempor incididunt ut
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do eiusmod tempor
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do eiusmod tempor
                                </p>
                                <span><strong>-John Doe</strong></span>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe</strong></span>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe</strong></span>
                            </div>
                         </div>
                    </div>
            </div>
        </div>
    </section>

    <section id="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <a href="#"><i class="fa fa-phone"></i></a>
                        </div>
                        <div class="media-body">
                            <h2>Contact us</h2>
                            <p>For more information or to book a class, please email <a href="mailto:flexibeast@hotmail.com" target="_blank">flexibeast@hotmail.com</a> or use the contact form <a href="#">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

    <footer id="footer" class="midnight-blue">
        <div class="footerbox">
        <div class="footerbox-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>